.grid-container{
   display: -moz-inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 100px 100px 100px;
    width: 100%;
    background-color: black;
}

.gi-1{
    background-color: red;
}

a{
    color:orange;
    text-decoration: none;
}

.gi-2{
    background-color: white;
}

.gi-3{
   text-align: center;
   background-color: red;
}